<div class="container">
    <figure class="text-center">
        <h1>Listado de Tiendas</h1>
    </figure>
    <div class="mb-3">
    <%= link_to "Crear Tienda", stores_new_path, class:"btn btn-success" %>
    </div>
    <table border="1" align="center" class="table table-info table-striped text-center">
        <tr>
            <thead>
                <th>Nombre</th>
                <th>Calle</th>
                <th>Número</th>
                <th>Código Postal</th>
                <th>Ciudad</th>
                <th>Pais</th>
                <th colspan="2">Acción</th>
            </thead>
        </tr>
        <% @stores.each do |store| %>
        <tr>
            <td><%= store.name %></td>
            <td><%= store.street %></td>
            <td><%= store.number %></td>
            <td><%= store.zipcode %></td>
            <td><%= store.city %></td>
            <td><%= store.country %></td>
            <td>
                <%= link_to "Editar", edit_store_path(store), class:"btn btn-primary" %>
            </td>
            <td>
                <%= link_to "Eliminar", store , method: :delete, data: { confirm: "¿Deseas eliminar la tienda?" }, class:"btn btn-danger" %>
            </td>
        </tr>
        <% end %>
        <tr>
            <td colspan="8">
                <%= link_to "Inicio", "/" , class:"btn btn-dark" %>
            </td>
        </tr>
        </table>
</div>