<div class="container">
    <figure class="text-center">
        <h1>Listado de Categorias</h1>
    </figure>
    <div class="mb-3">
    <%= link_to "Crear Categoría", categories_new_path, class:"btn btn-success" %>
    </div>

    <table border="1" align="center" class="table table-info table-striped text-center">
        <tr>
            <thead>
                <th>Nombre</th>
                <th colspan="2">Acción</th>
            </thead>
        </tr>
        <% @categories.each do |category| %>
        <tr>
            <td><%= category.name %></td>
            <td>
                <%= link_to "Editar", edit_category_path(category), class:"btn btn-primary" %>
            </td>
            <td>
                <%= link_to "Eliminar", category , method: :delete, data: { confirm: "¿Deseas eliminar categoria?" }, class:"btn btn-danger" %>
            </td>
        </tr>
        <% end %>
        <tr>
        <td colspan="8">
            <%= link_to "Inicio", "/" , class:"btn btn-dark" %>
        </td>
    </tr>
    </table>

</div>